<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.formelt{
    color: orange;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 6px;
}
h1 {
    color: rgb(255, 0, 179);
    text-align: center;
    padding-top: 20px;
}
body{
    background-color:palegreen;
}
.edge
{
    border:2px solid wheat;
    margin-top:10%;
}
</style>
</head>
<body>
    <h1>Area of a Rectangle</h1>
<div class="edge">
    <div class="box">
        <form method="POST">
            {% csrf_token %}
            <div class="formelt">
                Length: <input type="text" name="length" value="{{l}}"></input>(in m)<br/>
            </div>
            <div class="formelt">
                Breadth <input type="text" name="breadth" value="{{b}}"></input>(in m)<br/>
            </div>
            <div class="formelt">
                <input type="submit" value="Calculate"></input><br/>
            </div>
            <div class="formelt">
                Area: <input type="text" name="area" value="{{area}}"></input>m<sup>2</sup><br/>
            </div>
        </form>
    </div>
</div>
</body>
</html>